Source: debtrack
Section: admin
Priority: extra
Maintainer: IBH IT-Service GmbH <support@ibh.de>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: debtrack
Architecture: all
Depends: debconf (>= 0.5) | debconf-2.0, adduser, pciutils, mailx
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
